body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #413960;
   }
   
   h1{
    font-weight: 900;
    line-height: 2rem;
    margin: 30px 0px;
   }
   p{
       font-size: small;
       color: #585859;
   }

.top-section{
    background-color: #F0FFF0;
    height: 576px;
    margin-bottom: 100px;
}
.container{
    margin-bottom: 100px;
}
.my-green-btn{
    background-color: #21B573;
    border: none;
    padding: 5px 20px;
    color: white;
    border-radius: 33px;
}
#active{
    background-color: #21B573;
    border: none;
    color: white;
    border-radius: 33px;
    padding: 8px 15px;
}
.my-color-green{
    color: #21B573;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    cursor: pointer;
}

/* subject section's card */
.subject .card{
    padding: 40px 20px;
    background-color: #F0FFF0;
    border: none;
    cursor: pointer;
    box-shadow: none;
}
.subject .card:hover{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    cursor: pointer;
    background-color: white;
}
.subject img{
    width: 30%;
}
.subject .card-body{
    padding: 20px 0 0 0;
    margin-top: 10px;
}
.subject .card-body h5, .subject .card-body p{
    margin: 0;
    padding: 0;
}

/* course section's card */
.courses .my-green-btn{
    margin-top: 40px;
}
.courses .card img{
    padding: 20px;
}
.courses .card-footer{
    background-color: white;
    border: none;
}
.testimonial p{
    margin-bottom: 0;
}
.testimonial{
    margin: 170px auto;
}
.feedback{
    width: 100%;
    height: 500px;
    background-color: #F0FFF0;
}
.feedback img{
    width: 20%;
    margin: 20px;
}
.feedback p{
    text-align: center;
    width: 50%;
}
.sector-title{
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.feedback h5{
    font-size: 3rem;
}
.carousel-indicators .active{
    background-color: tomato;
}
.carousel-indicators li{
    background-color: rgb(44, 253, 89);
}
.highlight-line{
    height: 5px;
    width: 150px;
    background-image: linear-gradient(270deg, #67ff67af, #4ff84fa9);
    margin-bottom: 50px;
    border-radius: 10px;
}
.author{
    margin-bottom: 10px;
}


h2{
    margin: 50px 0px;
}
footer li{
    list-style: none;
    line-height: 1.8rem;
}
footer a{
    text-decoration: none;
    color: gray;
    font-weight: 400;
}
footer a:hover{
    color: white;
    text-decoration: none;
}
footer ul li:first-child{
    font-size: medium;
    color: white;
    font-weight: 500;
}
footer{
    background-color: #282531;
    font-size: small;
    color: gray;
    padding: 50px;
    font-weight: 400;
}
footer p{
    margin-bottom: 1rem;
    margin: 50px;
    text-align: justify;
}
footer .copyright{
    margin: 0;
    padding: 0;
}

.nav li{
    padding: 8px 0px 8px 14px;
    margin: 0px;
}
/* ------------------------------------------------------------------responsive area-------------------------------------------------------------- */
@media (max-width: 373px){
    body{
        text-align: center;
    }
    h1{
        font-size: 2rem;
        line-height: 0.8rem;
        text-align: center;
    }
    h2{
        font-size: 1.35rem;
    }
    h5{
        font-size: 0.85rem;
    }
    
    h6, p{
        font-size: 0.7rem;
    }
    .top-section{
        background-color: #F0FFF0;
        height: 676px;
        margin-bottom: 100px;
    }
    .subject{
        margin-top: 100px;
    }
    .testimonial{
        margin: 0px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
    }
    .feedback{
        height: 275px;
    }
    .feedback h5{
        font-size: 2rem;
    }
    footer ul{
        
        padding-left: 0px;
    }
}

@media (min-width: 380px) and (max-width: 575px) {  
    .subject{
        margin-top: 300px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .testimonial{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    .subject{
        margin-top: 300px;
    }
    h5{
        font-size: 0.8rem;
    }
    h6{
        font-size: 0.5rem;
    }
    .my-green-btn{
        background-color: #21B573;
        border: none;
        padding: 5px 20px;
        color: white;
        border-radius: 33px;
        font-size: 0.77rem;
    }
}
@media (min-width: 769px) and  (max-width: 992px){
    h1{
        font-size: 2.3rem;
    }
   h5{
       font-size: 0.91rem;
   }
   h6{
       font-size: 0.75rem;
   }
}